<div class="container">
    <form class="form-inline mt-4">
        <div class="mb-2">
            <label for="doctor">Choose Doctor</label>
            <select class="form-control" [(ngModel)]="doc.name" name="name">
        <option [value]="docs.name" *ngFor="let docs of doctor">{{docs.name}}</option>
      </select>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-danger my-4 " type="submit" (click)="showDoctorDetails()"><i
          class="fa fa-search"> </i> search</button>
        </div>
    </form>
</div>
<!--  -->
<div class="card text-center">
    <div class="card-header">
        DOCTOR PROFILE
        <div class="p-5 text-center">
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">Doctor Name</th>
                                <th scope="col">Specialization </th>
                                <th scope="col">Patient Attended</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{doc.name}}</td>
                                <td>{{doc.field}}</td>
                                <td>{{doc.patient_count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--  -->